body {
  font-size: 20px;
  line-height: 1.5;
  padding-left: 30px;
  padding-bottom: 50px;
}

.conteiner {
  max-width: 1100px;
  min-width: 480px;
  margin: 0 auto;
  padding-right: 30px;
}

.up2 {
  display: flex;
}
@media screen and (max-width: 480px) {
  .up2 {
    display: block;
  }
}

.right {
  padding: 20px 100px 50px 200px;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .right {
    padding: 0;
    margin-bottom: 70px;
  }
}

.img2 {
  padding-left: 100px;
}
.page2,
.page3,
.page4,
.page5,
.page6 {
  padding-top: 100px;
}
.outro {
  padding-top: 100px;
  text-align: center;
}
