body {
  margin: 0 auto;
}

p {
  font-size: 16px;
  text-align: justify;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.titleglobal {
  color: white;
  text-align: center;
}
.wraper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.startinfomation {
  text-align: center;
  padding: 0 150px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
}
.img {
  display: flex;
  justify-content: center;
  width: auto;
  padding-left: 50px;
}

.rightsidebar {
  text-align: center;
  padding-top: 30px;
  padding-right: 100px;
}

.btnInst {
  display: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: gray;
  color: black;
}
.btnInst:hover {
  outline: 2px solid #59ff00;
  background-color: black;
  color: white;
  opacity: 0.8;
}
h2 {
  margin: 5px;
  font-size: 30px;
}
.subTitle {
  margin: 5px;
  text-align: center;
  font-size: 20px;
}
.sections {
  padding: 0 15px;
  padding-bottom: 70px;
}

.subinfo {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
.titleVitamin {
  font-size: 26px;
}

.info {
  margin-top: 0;
}
.footerIndex {
  text-align: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.link {
  color: black;
  text-decoration: none;
}
.address__item {
  margin: 10px 0;
}
.contact__subtitle {
  margin: 0;
}

.proplist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.proptext {
  text-align: center;
}
.propItem {
  text-align: center;
}
.propImg {
  scale: 1.5;
  margin-bottom: 50px;
}

.footer-address {
  font-style: normal;
}

/* TABLE STYLE */
.table-custom {
  border-collapse: collapse;
  width: 100%;
}

.table-custom td {
  border: 1pt solid;
  padding: 5pt;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .img {
    padding: 0;
  }
  .startinfomation {
    padding: 0;
    font-size: 20px;
  }
  .wraper {
    display: block;
  }

  .rightsidebar {
    padding: 0;
  }
  .polisorb_img {
    width: 300px;
  }
  .photo {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .img {
    height: 350px;
    width: auto;
  }

  .container {
    padding: 0 30px;
  }
}
